<div class="container my-5">
    <div class="row justify-content-center">
  
      <!-- Contact Form Section -->
      <div class="col-md-7">
        <div class="card p-4 pt-2 shadow" [ngClass]="{ 'disabled': loading === 'loading' }">
          <h2 class="fw-bold text-center mb-3">Send me a message</h2>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            
            <!-- Name -->
            <div class="mb-3">
              <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name">
              <div class="text-danger" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.hasError('required')">
                Name is required.
              </div>
            </div>
  
            <!-- Email -->
            <div class="mb-3">
              <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
              <div class="text-danger" *ngIf="contactForm.get('email')?.touched">
                <div *ngIf="contactForm.get('email')?.hasError('required')">Email is required.</div>
                <div *ngIf="contactForm.get('email')?.hasError('email')">Invalid email format.</div>
              </div>
            </div>
  
            <!-- Contact -->
            <!-- <div class="mb-3">
              <input type="text" id="contact" class="form-control" formControlName="contact" placeholder="Enter your phone number">
              <div class="text-danger" *ngIf="contactForm.get('contact')?.touched && contactForm.get('contact')?.hasError('required')">
                Phone number is required.
              </div>
            </div> -->
  
            <!-- Subject -->
            <div class="mb-3">
              <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="Enter subject">
              <div class="text-danger" *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.hasError('required')">
                Subject is required.
              </div>
            </div>
  
            <!-- Message -->
            <div class="mb-3">
              <textarea id="message" class="form-control" formControlName="message" rows="3" placeholder="Enter your message"></textarea>
              <div class="text-danger" *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.hasError('required')">
                Message is required.
              </div>
            </div>
  
            <button type="submit" class="btn btn-primary w-100" 
            >{{ loading === 'loading' ? "Submitting..." : "Submit"}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #submitModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Hello {{ name || "Sir/Mam" }}</h5>
      <button type="button" class="btn-close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      {{ submitMsg }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
  </ng-template>