<div class="container my-5">
    <div class="row justify-content-center">

        <!-- Contact Form Section -->
        <div class="col-md-7">
            <div class="card p-4 shadow">
                <h3 class="fw-bold">Send us a message</h3>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="contact" class="form-control" formControlName="contact" placeholder="Enter your phone number">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="Enter subject">
                    </div>
                    <div class="mb-3">
                        <textarea id="message" class="form-control" formControlName="message" rows="3" placeholder="Enter your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
